.suggestion-row{
    width: 350px;
    padding-top:5px;
    border-color: ridge;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    margin-top: 10px;
}

.suggestion-column{
    display: inline-block;
}

.suggestion-text{
    font-weight: bold;
    text-align: left;
    text-align: initial;
    padding-left: 15px;
    padding-bottom: 10px;
}
.suggestion-rating .glyphicon {
    padding-left: 10px;
    font-size: 20px;
}
.clickable{
    cursor: pointer;
}